<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <setAttribute key="additional_plugins"/>
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/SecondInstance"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <stringAttribute key="featureDefaultLocation" value="workspace"/>
    <stringAttribute key="featurePluginResolution" value="workspace"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-SecondInstance"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.equinox.p2.director.app.product"/>
    <setAttribute key="selected_features">
        <setEntry value="de.uka.ipd.sdq.identifier.feature:default"/>
        <setEntry value="de.uka.ipd.sdq.workflow.feature.core:default"/>
        <setEntry value="de.uka.ipd.sdq.workflow.feature.mdsd:default"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.eclipse.feature.source:default"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.eclipse.feature:default"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.emf.feature.source:default"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.emf.feature:default"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.java.feature.source:default"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.java.feature:default"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.mdsdprofiles.feature.source:default"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.mdsdprofiles.feature:default"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.pcm.feature.source:default"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.pcm.feature:default"/>
        <setEntry value="org.eclipse.core.runtime.feature:default"/>
        <setEntry value="org.eclipse.e4.rcp.source:default"/>
        <setEntry value="org.eclipse.e4.rcp:default"/>
        <setEntry value="org.eclipse.ecf.core.feature.source:default"/>
        <setEntry value="org.eclipse.ecf.core.feature:default"/>
        <setEntry value="org.eclipse.ecf.core.ssl.feature.source:default"/>
        <setEntry value="org.eclipse.ecf.core.ssl.feature:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer.feature.source:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer.feature:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer.httpclient45.feature.source:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer.httpclient45.feature:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer.ssl.feature.source:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer.ssl.feature:default"/>
        <setEntry value="org.eclipse.emf.codegen.ecore.source:default"/>
        <setEntry value="org.eclipse.emf.codegen.ecore.ui.source:default"/>
        <setEntry value="org.eclipse.emf.codegen.ecore.ui:default"/>
        <setEntry value="org.eclipse.emf.codegen.ecore:default"/>
        <setEntry value="org.eclipse.emf.codegen.source:default"/>
        <setEntry value="org.eclipse.emf.codegen.ui.source:default"/>
        <setEntry value="org.eclipse.emf.codegen.ui:default"/>
        <setEntry value="org.eclipse.emf.codegen:default"/>
        <setEntry value="org.eclipse.emf.common.source:default"/>
        <setEntry value="org.eclipse.emf.common.ui.source:default"/>
        <setEntry value="org.eclipse.emf.common.ui:default"/>
        <setEntry value="org.eclipse.emf.common:default"/>
        <setEntry value="org.eclipse.emf.compare.ide.ui:default"/>
        <setEntry value="org.eclipse.emf.compare:default"/>
        <setEntry value="org.eclipse.emf.converter.source:default"/>
        <setEntry value="org.eclipse.emf.converter:default"/>
        <setEntry value="org.eclipse.emf.databinding.edit.source:default"/>
        <setEntry value="org.eclipse.emf.databinding.edit:default"/>
        <setEntry value="org.eclipse.emf.databinding.source:default"/>
        <setEntry value="org.eclipse.emf.databinding:default"/>
        <setEntry value="org.eclipse.emf.doc:default"/>
        <setEntry value="org.eclipse.emf.ecore.edit.source:default"/>
        <setEntry value="org.eclipse.emf.ecore.edit:default"/>
        <setEntry value="org.eclipse.emf.ecore.editor.source:default"/>
        <setEntry value="org.eclipse.emf.ecore.editor:default"/>
        <setEntry value="org.eclipse.emf.ecore.source:default"/>
        <setEntry value="org.eclipse.emf.ecore:default"/>
        <setEntry value="org.eclipse.emf.edit.source:default"/>
        <setEntry value="org.eclipse.emf.edit.ui.source:default"/>
        <setEntry value="org.eclipse.emf.edit.ui:default"/>
        <setEntry value="org.eclipse.emf.edit:default"/>
        <setEntry value="org.eclipse.emf.mapping.ecore.editor.source:default"/>
        <setEntry value="org.eclipse.emf.mapping.ecore.editor:default"/>
        <setEntry value="org.eclipse.emf.mapping.ecore.source:default"/>
        <setEntry value="org.eclipse.emf.mapping.ecore:default"/>
        <setEntry value="org.eclipse.emf.mapping.source:default"/>
        <setEntry value="org.eclipse.emf.mapping.ui.source:default"/>
        <setEntry value="org.eclipse.emf.mapping.ui:default"/>
        <setEntry value="org.eclipse.emf.mapping:default"/>
        <setEntry value="org.eclipse.emf.mwe.core.feature.source:default"/>
        <setEntry value="org.eclipse.emf.mwe.core.feature:default"/>
        <setEntry value="org.eclipse.emf.mwe.doc.feature:default"/>
        <setEntry value="org.eclipse.emf.mwe.sdk:default"/>
        <setEntry value="org.eclipse.emf.mwe.ui.feature.source:default"/>
        <setEntry value="org.eclipse.emf.mwe.ui.feature:default"/>
        <setEntry value="org.eclipse.emf.mwe2.language.sdk:default"/>
        <setEntry value="org.eclipse.emf.mwe2.launcher.source:default"/>
        <setEntry value="org.eclipse.emf.mwe2.launcher:default"/>
        <setEntry value="org.eclipse.emf.mwe2.runtime.sdk:default"/>
        <setEntry value="org.eclipse.emf.sdk:default"/>
        <setEntry value="org.eclipse.emf.source:default"/>
        <setEntry value="org.eclipse.emf:default"/>
        <setEntry value="org.eclipse.equinox.compendium.sdk:default"/>
        <setEntry value="org.eclipse.equinox.core.feature:default"/>
        <setEntry value="org.eclipse.equinox.core.sdk:default"/>
        <setEntry value="org.eclipse.equinox.executable:default"/>
        <setEntry value="org.eclipse.equinox.p2.core.feature.source:default"/>
        <setEntry value="org.eclipse.equinox.p2.core.feature:default"/>
        <setEntry value="org.eclipse.equinox.p2.discovery.feature:default"/>
        <setEntry value="org.eclipse.equinox.p2.extras.feature.source:default"/>
        <setEntry value="org.eclipse.equinox.p2.extras.feature:default"/>
        <setEntry value="org.eclipse.equinox.p2.rcp.feature.source:default"/>
        <setEntry value="org.eclipse.equinox.p2.rcp.feature:default"/>
        <setEntry value="org.eclipse.equinox.p2.sdk:default"/>
        <setEntry value="org.eclipse.equinox.p2.user.ui.source:default"/>
        <setEntry value="org.eclipse.equinox.p2.user.ui:default"/>
        <setEntry value="org.eclipse.equinox.sdk:default"/>
        <setEntry value="org.eclipse.equinox.server.core:default"/>
        <setEntry value="org.eclipse.equinox.server.jetty:default"/>
        <setEntry value="org.eclipse.equinox.server.p2:default"/>
        <setEntry value="org.eclipse.equinox.serverside.sdk:default"/>
        <setEntry value="org.eclipse.help.source:default"/>
        <setEntry value="org.eclipse.help:default"/>
        <setEntry value="org.eclipse.jdt.source:default"/>
        <setEntry value="org.eclipse.jdt:default"/>
        <setEntry value="org.eclipse.jgit:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.debug:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.doc:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.editor.jdt:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.editor:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.examples:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.runtime:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.sdk:default"/>
        <setEntry value="org.eclipse.m2m.qvt.oml:default"/>
        <setEntry value="org.eclipse.pde.source:default"/>
        <setEntry value="org.eclipse.pde:default"/>
        <setEntry value="org.eclipse.platform.source:default"/>
        <setEntry value="org.eclipse.platform:default"/>
        <setEntry value="org.eclipse.rcp.source:default"/>
        <setEntry value="org.eclipse.rcp:default"/>
        <setEntry value="org.eclipse.sdk:default"/>
        <setEntry value="org.eclipse.uml2.codegen.ecore.ui:default"/>
        <setEntry value="org.eclipse.uml2.common.edit:default"/>
        <setEntry value="org.eclipse.uml2.common:default"/>
        <setEntry value="org.eclipse.uml2.doc:default"/>
        <setEntry value="org.eclipse.uml2.examples:default"/>
        <setEntry value="org.eclipse.uml2.sdk:default"/>
        <setEntry value="org.eclipse.uml2.uml.edit:default"/>
        <setEntry value="org.eclipse.uml2.uml:default"/>
        <setEntry value="org.eclipse.uml2:default"/>
        <setEntry value="org.eclipse.xtext.runtime:default"/>
        <setEntry value="org.eclipse.xtext.ui:default"/>
        <setEntry value="org.palladiosimulator.pcm.feature:default"/>
    </setAttribute>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.google.gson"/>
        <setEntry value="com.google.guava"/>
        <setEntry value="com.google.inject"/>
        <setEntry value="com.ibm.icu"/>
        <setEntry value="com.jcraft.jsch"/>
        <setEntry value="com.sun.el"/>
        <setEntry value="com.sun.jna*4.5.1.v20190425-1842"/>
        <setEntry value="com.sun.jna*5.8.0.v20210503-0343"/>
        <setEntry value="com.sun.jna.platform*4.5.1.v20190425-1842"/>
        <setEntry value="com.sun.jna.platform*5.8.0.v20210406-1004"/>
        <setEntry value="de.uka.ipd.sdq.dialogs"/>
        <setEntry value="de.uka.ipd.sdq.errorhandling"/>
        <setEntry value="de.uka.ipd.sdq.identifier"/>
        <setEntry value="de.uka.ipd.sdq.identifier.edit"/>
        <setEntry value="de.uka.ipd.sdq.pcm.stochasticexpressions"/>
        <setEntry value="de.uka.ipd.sdq.probfunction"/>
        <setEntry value="de.uka.ipd.sdq.probfunction.math"/>
        <setEntry value="de.uka.ipd.sdq.stoex"/>
        <setEntry value="de.uka.ipd.sdq.stoex.analyser"/>
        <setEntry value="de.uka.ipd.sdq.units"/>
        <setEntry value="de.uka.ipd.sdq.workflow"/>
        <setEntry value="de.uka.ipd.sdq.workflow.launchconfig"/>
        <setEntry value="de.uka.ipd.sdq.workflow.logging.console"/>
        <setEntry value="de.uka.ipd.sdq.workflow.mdsd"/>
        <setEntry value="de.uka.ipd.sdq.workflow.ui"/>
        <setEntry value="de.uka.ipd.sdq.workflow.workbench"/>
        <setEntry value="edu.kit.ipd.sdq.activextendannotations"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.eclipse"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.emf"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.java"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.mdsdprofiles"/>
        <setEntry value="edu.kit.ipd.sdq.commons.util.pcm"/>
        <setEntry value="io.github.classgraph"/>
        <setEntry value="jakarta.servlet-api"/>
        <setEntry value="jamopp.parser"/>
        <setEntry value="jamopp.parser.bcel"/>
        <setEntry value="jamopp.parser.jdt"/>
        <setEntry value="jamopp.parser.jdt.singlefile"/>
        <setEntry value="jamopp.printer"/>
        <setEntry value="jamopp.resolution"/>
        <setEntry value="jamopp.resource"/>
        <setEntry value="javaewah"/>
        <setEntry value="javax.annotation"/>
        <setEntry value="javax.el"/>
        <setEntry value="javax.inject"/>
        <setEntry value="javax.servlet.jsp"/>
        <setEntry value="lpg.runtime.java"/>
        <setEntry value="org.annotationsmox"/>
        <setEntry value="org.antlr.runtime"/>
        <setEntry value="org.aopalliance"/>
        <setEntry value="org.apache.ant"/>
        <setEntry value="org.apache.batik.constants"/>
        <setEntry value="org.apache.batik.css"/>
        <setEntry value="org.apache.batik.i18n"/>
        <setEntry value="org.apache.batik.util"/>
        <setEntry value="org.apache.commons.cli"/>
        <setEntry value="org.apache.commons.codec"/>
        <setEntry value="org.apache.commons.compress"/>
        <setEntry value="org.apache.commons.io"/>
        <setEntry value="org.apache.commons.jxpath"/>
        <setEntry value="org.apache.commons.lang"/>
        <setEntry value="org.apache.commons.logging"/>
        <setEntry value="org.apache.commons.math"/>
        <setEntry value="org.apache.felix.gogo.command"/>
        <setEntry value="org.apache.felix.gogo.runtime"/>
        <setEntry value="org.apache.felix.gogo.shell"/>
        <setEntry value="org.apache.felix.scr"/>
        <setEntry value="org.apache.httpcomponents.httpclient"/>
        <setEntry value="org.apache.httpcomponents.httpclient.win"/>
        <setEntry value="org.apache.httpcomponents.httpcore"/>
        <setEntry value="org.apache.jasper.glassfish"/>
        <setEntry value="org.apache.log4j"/>
        <setEntry value="org.apache.lucene.analyzers-common"/>
        <setEntry value="org.apache.lucene.analyzers-smartcn"/>
        <setEntry value="org.apache.lucene.core"/>
        <setEntry value="org.apache.xmlgraphics"/>
        <setEntry value="org.apiguardian"/>
        <setEntry value="org.bouncycastle.bcpg"/>
        <setEntry value="org.bouncycastle.bcprov"/>
        <setEntry value="org.eclipse.ant.core"/>
        <setEntry value="org.eclipse.ant.launching"/>
        <setEntry value="org.eclipse.ant.ui"/>
        <setEntry value="org.eclipse.compare"/>
        <setEntry value="org.eclipse.compare.core"/>
        <setEntry value="org.eclipse.compare.win32"/>
        <setEntry value="org.eclipse.core.commands"/>
        <setEntry value="org.eclipse.core.contenttype"/>
        <setEntry value="org.eclipse.core.databinding"/>
        <setEntry value="org.eclipse.core.databinding.beans"/>
        <setEntry value="org.eclipse.core.databinding.observable"/>
        <setEntry value="org.eclipse.core.databinding.property"/>
        <setEntry value="org.eclipse.core.expressions"/>
        <setEntry value="org.eclipse.core.externaltools"/>
        <setEntry value="org.eclipse.core.filebuffers"/>
        <setEntry value="org.eclipse.core.filesystem"/>
        <setEntry value="org.eclipse.core.filesystem.win32.x86_64"/>
        <setEntry value="org.eclipse.core.jobs"/>
        <setEntry value="org.eclipse.core.net"/>
        <setEntry value="org.eclipse.core.net.win32.x86_64"/>
        <setEntry value="org.eclipse.core.resources"/>
        <setEntry value="org.eclipse.core.resources.win32.x86_64"/>
        <setEntry value="org.eclipse.core.runtime"/>
        <setEntry value="org.eclipse.core.variables"/>
        <setEntry value="org.eclipse.debug.core"/>
        <setEntry value="org.eclipse.debug.ui"/>
        <setEntry value="org.eclipse.draw2d"/>
        <setEntry value="org.eclipse.e4.core.commands"/>
        <setEntry value="org.eclipse.e4.core.contexts"/>
        <setEntry value="org.eclipse.e4.core.di"/>
        <setEntry value="org.eclipse.e4.core.di.annotations"/>
        <setEntry value="org.eclipse.e4.core.di.extensions"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier"/>
        <setEntry value="org.eclipse.e4.core.services"/>
        <setEntry value="org.eclipse.e4.emf.xpath"/>
        <setEntry value="org.eclipse.e4.ui.bindings"/>
        <setEntry value="org.eclipse.e4.ui.css.core"/>
        <setEntry value="org.eclipse.e4.ui.css.swt"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme"/>
        <setEntry value="org.eclipse.e4.ui.di"/>
        <setEntry value="org.eclipse.e4.ui.dialogs"/>
        <setEntry value="org.eclipse.e4.ui.ide"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench"/>
        <setEntry value="org.eclipse.e4.ui.services"/>
        <setEntry value="org.eclipse.e4.ui.swt.win32"/>
        <setEntry value="org.eclipse.e4.ui.widgets"/>
        <setEntry value="org.eclipse.e4.ui.workbench"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt"/>
        <setEntry value="org.eclipse.e4.ui.workbench3"/>
        <setEntry value="org.eclipse.ecf"/>
        <setEntry value="org.eclipse.ecf.filetransfer"/>
        <setEntry value="org.eclipse.ecf.identity"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.httpclient45"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.httpclient45.win32"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.ssl"/>
        <setEntry value="org.eclipse.ecf.ssl"/>
        <setEntry value="org.eclipse.emf"/>
        <setEntry value="org.eclipse.emf.ant"/>
        <setEntry value="org.eclipse.emf.cdo"/>
        <setEntry value="org.eclipse.emf.cdo.common"/>
        <setEntry value="org.eclipse.emf.cheatsheets"/>
        <setEntry value="org.eclipse.emf.codegen"/>
        <setEntry value="org.eclipse.emf.codegen.ecore"/>
        <setEntry value="org.eclipse.emf.codegen.ecore.ui"/>
        <setEntry value="org.eclipse.emf.codegen.ui"/>
        <setEntry value="org.eclipse.emf.common"/>
        <setEntry value="org.eclipse.emf.common.ui"/>
        <setEntry value="org.eclipse.emf.compare"/>
        <setEntry value="org.eclipse.emf.compare.doc"/>
        <setEntry value="org.eclipse.emf.compare.edit"/>
        <setEntry value="org.eclipse.emf.compare.ide"/>
        <setEntry value="org.eclipse.emf.compare.ide.ui"/>
        <setEntry value="org.eclipse.emf.compare.rcp"/>
        <setEntry value="org.eclipse.emf.compare.rcp.ui"/>
        <setEntry value="org.eclipse.emf.converter"/>
        <setEntry value="org.eclipse.emf.databinding"/>
        <setEntry value="org.eclipse.emf.databinding.edit"/>
        <setEntry value="org.eclipse.emf.doc"/>
        <setEntry value="org.eclipse.emf.ecore"/>
        <setEntry value="org.eclipse.emf.ecore.change"/>
        <setEntry value="org.eclipse.emf.ecore.change.edit"/>
        <setEntry value="org.eclipse.emf.ecore.edit"/>
        <setEntry value="org.eclipse.emf.ecore.editor"/>
        <setEntry value="org.eclipse.emf.ecore.xmi"/>
        <setEntry value="org.eclipse.emf.edit"/>
        <setEntry value="org.eclipse.emf.edit.ui"/>
        <setEntry value="org.eclipse.emf.example.installer"/>
        <setEntry value="org.eclipse.emf.exporter"/>
        <setEntry value="org.eclipse.emf.importer"/>
        <setEntry value="org.eclipse.emf.importer.ecore"/>
        <setEntry value="org.eclipse.emf.importer.java"/>
        <setEntry value="org.eclipse.emf.importer.rose"/>
        <setEntry value="org.eclipse.emf.mapping"/>
        <setEntry value="org.eclipse.emf.mapping.ecore"/>
        <setEntry value="org.eclipse.emf.mapping.ecore.editor"/>
        <setEntry value="org.eclipse.emf.mapping.ecore2ecore"/>
        <setEntry value="org.eclipse.emf.mapping.ecore2ecore.editor"/>
        <setEntry value="org.eclipse.emf.mapping.ecore2xml"/>
        <setEntry value="org.eclipse.emf.mapping.ecore2xml.ui"/>
        <setEntry value="org.eclipse.emf.mapping.ui"/>
        <setEntry value="org.eclipse.emf.mwe.activities"/>
        <setEntry value="org.eclipse.emf.mwe.core"/>
        <setEntry value="org.eclipse.emf.mwe.doc"/>
        <setEntry value="org.eclipse.emf.mwe.ui"/>
        <setEntry value="org.eclipse.emf.mwe.ui.simpleEditor"/>
        <setEntry value="org.eclipse.emf.mwe.utils"/>
        <setEntry value="org.eclipse.emf.mwe2.language"/>
        <setEntry value="org.eclipse.emf.mwe2.language.ide"/>
        <setEntry value="org.eclipse.emf.mwe2.language.ui"/>
        <setEntry value="org.eclipse.emf.mwe2.launch"/>
        <setEntry value="org.eclipse.emf.mwe2.launch.ui"/>
        <setEntry value="org.eclipse.emf.mwe2.lib"/>
        <setEntry value="org.eclipse.emf.mwe2.runtime"/>
        <setEntry value="org.eclipse.emf.transaction"/>
        <setEntry value="org.eclipse.emf.validation"/>
        <setEntry value="org.eclipse.emf.workspace"/>
        <setEntry value="org.eclipse.equinox.app"/>
        <setEntry value="org.eclipse.equinox.bidi"/>
        <setEntry value="org.eclipse.equinox.common"/>
        <setEntry value="org.eclipse.equinox.concurrent"/>
        <setEntry value="org.eclipse.equinox.console"/>
        <setEntry value="org.eclipse.equinox.event"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox"/>
        <setEntry value="org.eclipse.equinox.http.jetty"/>
        <setEntry value="org.eclipse.equinox.http.registry"/>
        <setEntry value="org.eclipse.equinox.http.servlet"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper.registry"/>
        <setEntry value="org.eclipse.equinox.launcher"/>
        <setEntry value="org.eclipse.equinox.launcher.win32.win32.x86_64"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository"/>
        <setEntry value="org.eclipse.equinox.p2.console"/>
        <setEntry value="org.eclipse.equinox.p2.core"/>
        <setEntry value="org.eclipse.equinox.p2.director"/>
        <setEntry value="org.eclipse.equinox.p2.director.app"/>
        <setEntry value="org.eclipse.equinox.p2.directorywatcher"/>
        <setEntry value="org.eclipse.equinox.p2.engine"/>
        <setEntry value="org.eclipse.equinox.p2.extensionlocation"/>
        <setEntry value="org.eclipse.equinox.p2.garbagecollector"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor"/>
        <setEntry value="org.eclipse.equinox.p2.metadata"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository"/>
        <setEntry value="org.eclipse.equinox.p2.operations"/>
        <setEntry value="org.eclipse.equinox.p2.publisher"/>
        <setEntry value="org.eclipse.equinox.p2.publisher.eclipse"/>
        <setEntry value="org.eclipse.equinox.p2.reconciler.dropins"/>
        <setEntry value="org.eclipse.equinox.p2.repository"/>
        <setEntry value="org.eclipse.equinox.p2.repository.tools"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.natives"/>
        <setEntry value="org.eclipse.equinox.p2.transport.ecf"/>
        <setEntry value="org.eclipse.equinox.p2.ui"/>
        <setEntry value="org.eclipse.equinox.p2.ui.importexport"/>
        <setEntry value="org.eclipse.equinox.p2.ui.sdk"/>
        <setEntry value="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
        <setEntry value="org.eclipse.equinox.p2.updatechecker"/>
        <setEntry value="org.eclipse.equinox.p2.updatesite"/>
        <setEntry value="org.eclipse.equinox.preferences"/>
        <setEntry value="org.eclipse.equinox.registry"/>
        <setEntry value="org.eclipse.equinox.security"/>
        <setEntry value="org.eclipse.equinox.security.ui"/>
        <setEntry value="org.eclipse.equinox.security.win32.x86_64"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator"/>
        <setEntry value="org.eclipse.help"/>
        <setEntry value="org.eclipse.help.base"/>
        <setEntry value="org.eclipse.help.ui"/>
        <setEntry value="org.eclipse.help.webapp"/>
        <setEntry value="org.eclipse.jdt"/>
        <setEntry value="org.eclipse.jdt.annotation*1.2.0.v20210519-0438"/>
        <setEntry value="org.eclipse.jdt.annotation*2.2.600.v20200408-1511"/>
        <setEntry value="org.eclipse.jdt.apt.core"/>
        <setEntry value="org.eclipse.jdt.apt.pluggable.core"/>
        <setEntry value="org.eclipse.jdt.apt.ui"/>
        <setEntry value="org.eclipse.jdt.compiler.apt"/>
        <setEntry value="org.eclipse.jdt.compiler.tool"/>
        <setEntry value="org.eclipse.jdt.core"/>
        <setEntry value="org.eclipse.jdt.core.formatterapp"/>
        <setEntry value="org.eclipse.jdt.core.manipulation"/>
        <setEntry value="org.eclipse.jdt.debug"/>
        <setEntry value="org.eclipse.jdt.debug.ui"/>
        <setEntry value="org.eclipse.jdt.doc.user"/>
        <setEntry value="org.eclipse.jdt.junit"/>
        <setEntry value="org.eclipse.jdt.junit.core"/>
        <setEntry value="org.eclipse.jdt.junit.runtime"/>
        <setEntry value="org.eclipse.jdt.junit4.runtime"/>
        <setEntry value="org.eclipse.jdt.junit5.runtime"/>
        <setEntry value="org.eclipse.jdt.launching"/>
        <setEntry value="org.eclipse.jdt.ui"/>
        <setEntry value="org.eclipse.jetty.http"/>
        <setEntry value="org.eclipse.jetty.io"/>
        <setEntry value="org.eclipse.jetty.security"/>
        <setEntry value="org.eclipse.jetty.server"/>
        <setEntry value="org.eclipse.jetty.servlet"/>
        <setEntry value="org.eclipse.jetty.util"/>
        <setEntry value="org.eclipse.jetty.util.ajax"/>
        <setEntry value="org.eclipse.jface"/>
        <setEntry value="org.eclipse.jface.databinding"/>
        <setEntry value="org.eclipse.jface.notifications"/>
        <setEntry value="org.eclipse.jface.text"/>
        <setEntry value="org.eclipse.jgit"/>
        <setEntry value="org.eclipse.jgit.archive"/>
        <setEntry value="org.eclipse.jsch.core"/>
        <setEntry value="org.eclipse.jsch.ui"/>
        <setEntry value="org.eclipse.ltk.core.refactoring"/>
        <setEntry value="org.eclipse.ltk.ui.refactoring"/>
        <setEntry value="org.eclipse.m2m.qvt.oml"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.common"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.common.ui"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.cst.parser"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.debug.core"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.debug.ui"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.doc"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.ecore.imperativeocl"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.editor.ui"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.emf.util"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.emf.util.ui"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.ocl"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.project"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.runtime"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.runtime.jdt"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.runtime.ui"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.samples"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.trace.edit"/>
        <setEntry value="org.eclipse.m2m.qvt.oml.ui"/>
        <setEntry value="org.eclipse.net4j.util"/>
        <setEntry value="org.eclipse.ocl"/>
        <setEntry value="org.eclipse.ocl.common"/>
        <setEntry value="org.eclipse.ocl.ecore"/>
        <setEntry value="org.eclipse.osgi"/>
        <setEntry value="org.eclipse.osgi.compatibility.state"/>
        <setEntry value="org.eclipse.osgi.services"/>
        <setEntry value="org.eclipse.osgi.util"/>
        <setEntry value="org.eclipse.pde"/>
        <setEntry value="org.eclipse.pde.api.tools"/>
        <setEntry value="org.eclipse.pde.api.tools.annotations"/>
        <setEntry value="org.eclipse.pde.api.tools.ui"/>
        <setEntry value="org.eclipse.pde.build"/>
        <setEntry value="org.eclipse.pde.core"/>
        <setEntry value="org.eclipse.pde.doc.user"/>
        <setEntry value="org.eclipse.pde.ds.annotations"/>
        <setEntry value="org.eclipse.pde.ds.core"/>
        <setEntry value="org.eclipse.pde.ds.lib"/>
        <setEntry value="org.eclipse.pde.ds.ui"/>
        <setEntry value="org.eclipse.pde.ds1_2.lib"/>
        <setEntry value="org.eclipse.pde.genericeditor.extension"/>
        <setEntry value="org.eclipse.pde.junit.runtime"/>
        <setEntry value="org.eclipse.pde.launching"/>
        <setEntry value="org.eclipse.pde.runtime"/>
        <setEntry value="org.eclipse.pde.ua.core"/>
        <setEntry value="org.eclipse.pde.ua.ui"/>
        <setEntry value="org.eclipse.pde.ui"/>
        <setEntry value="org.eclipse.pde.ui.templates"/>
        <setEntry value="org.eclipse.platform"/>
        <setEntry value="org.eclipse.platform.doc.user"/>
        <setEntry value="org.eclipse.rcp"/>
        <setEntry value="org.eclipse.search"/>
        <setEntry value="org.eclipse.sirius"/>
        <setEntry value="org.eclipse.sirius.common"/>
        <setEntry value="org.eclipse.sirius.common.ui"/>
        <setEntry value="org.eclipse.sirius.ecore.extender"/>
        <setEntry value="org.eclipse.sirius.ext.base"/>
        <setEntry value="org.eclipse.sirius.ext.e3.ui"/>
        <setEntry value="org.eclipse.sirius.ext.emf"/>
        <setEntry value="org.eclipse.sirius.ext.emf.edit"/>
        <setEntry value="org.eclipse.sirius.ext.emf.tx"/>
        <setEntry value="org.eclipse.sirius.ext.emf.ui"/>
        <setEntry value="org.eclipse.sirius.ext.jface"/>
        <setEntry value="org.eclipse.sirius.ext.swt"/>
        <setEntry value="org.eclipse.sirius.ui"/>
        <setEntry value="org.eclipse.swt"/>
        <setEntry value="org.eclipse.swt.win32.win32.x86_64"/>
        <setEntry value="org.eclipse.team.core"/>
        <setEntry value="org.eclipse.team.genericeditor.diff.extension"/>
        <setEntry value="org.eclipse.team.ui"/>
        <setEntry value="org.eclipse.text"/>
        <setEntry value="org.eclipse.text.quicksearch"/>
        <setEntry value="org.eclipse.tools.layout.spy"/>
        <setEntry value="org.eclipse.ui"/>
        <setEntry value="org.eclipse.ui.browser"/>
        <setEntry value="org.eclipse.ui.cheatsheets"/>
        <setEntry value="org.eclipse.ui.console"/>
        <setEntry value="org.eclipse.ui.editors"/>
        <setEntry value="org.eclipse.ui.externaltools"/>
        <setEntry value="org.eclipse.ui.forms"/>
        <setEntry value="org.eclipse.ui.genericeditor"/>
        <setEntry value="org.eclipse.ui.ide"/>
        <setEntry value="org.eclipse.ui.ide.application"/>
        <setEntry value="org.eclipse.ui.intro"/>
        <setEntry value="org.eclipse.ui.intro.quicklinks"/>
        <setEntry value="org.eclipse.ui.intro.universal"/>
        <setEntry value="org.eclipse.ui.monitoring"/>
        <setEntry value="org.eclipse.ui.navigator"/>
        <setEntry value="org.eclipse.ui.navigator.resources"/>
        <setEntry value="org.eclipse.ui.net"/>
        <setEntry value="org.eclipse.ui.themes"/>
        <setEntry value="org.eclipse.ui.trace"/>
        <setEntry value="org.eclipse.ui.views"/>
        <setEntry value="org.eclipse.ui.views.log"/>
        <setEntry value="org.eclipse.ui.views.properties.tabbed"/>
        <setEntry value="org.eclipse.ui.win32"/>
        <setEntry value="org.eclipse.ui.workbench"/>
        <setEntry value="org.eclipse.ui.workbench.texteditor"/>
        <setEntry value="org.eclipse.uml2"/>
        <setEntry value="org.eclipse.uml2.ant"/>
        <setEntry value="org.eclipse.uml2.codegen.ecore"/>
        <setEntry value="org.eclipse.uml2.codegen.ecore.ui"/>
        <setEntry value="org.eclipse.uml2.common"/>
        <setEntry value="org.eclipse.uml2.common.edit"/>
        <setEntry value="org.eclipse.uml2.doc"/>
        <setEntry value="org.eclipse.uml2.examples"/>
        <setEntry value="org.eclipse.uml2.examples.uml.ui"/>
        <setEntry value="org.eclipse.uml2.sdk"/>
        <setEntry value="org.eclipse.uml2.types"/>
        <setEntry value="org.eclipse.uml2.uml"/>
        <setEntry value="org.eclipse.uml2.uml.ecore.exporter"/>
        <setEntry value="org.eclipse.uml2.uml.ecore.importer"/>
        <setEntry value="org.eclipse.uml2.uml.edit"/>
        <setEntry value="org.eclipse.uml2.uml.editor"/>
        <setEntry value="org.eclipse.uml2.uml.profile.standard"/>
        <setEntry value="org.eclipse.uml2.uml.resources"/>
        <setEntry value="org.eclipse.uml2.uml.validation"/>
        <setEntry value="org.eclipse.update.configurator"/>
        <setEntry value="org.eclipse.urischeme"/>
        <setEntry value="org.eclipse.xpand"/>
        <setEntry value="org.eclipse.xtend"/>
        <setEntry value="org.eclipse.xtend.core"/>
        <setEntry value="org.eclipse.xtend.doc"/>
        <setEntry value="org.eclipse.xtend.examples"/>
        <setEntry value="org.eclipse.xtend.ide"/>
        <setEntry value="org.eclipse.xtend.ide.common"/>
        <setEntry value="org.eclipse.xtend.lib"/>
        <setEntry value="org.eclipse.xtend.lib.macro"/>
        <setEntry value="org.eclipse.xtend.m2e"/>
        <setEntry value="org.eclipse.xtend.standalone"/>
        <setEntry value="org.eclipse.xtend.typesystem.emf"/>
        <setEntry value="org.eclipse.xtext"/>
        <setEntry value="org.eclipse.xtext.activities"/>
        <setEntry value="org.eclipse.xtext.builder"/>
        <setEntry value="org.eclipse.xtext.builder.standalone"/>
        <setEntry value="org.eclipse.xtext.buildship"/>
        <setEntry value="org.eclipse.xtext.common.types"/>
        <setEntry value="org.eclipse.xtext.common.types.edit"/>
        <setEntry value="org.eclipse.xtext.common.types.shared"/>
        <setEntry value="org.eclipse.xtext.common.types.shared.jdt38"/>
        <setEntry value="org.eclipse.xtext.common.types.ui"/>
        <setEntry value="org.eclipse.xtext.doc"/>
        <setEntry value="org.eclipse.xtext.ecore"/>
        <setEntry value="org.eclipse.xtext.generator"/>
        <setEntry value="org.eclipse.xtext.ide"/>
        <setEntry value="org.eclipse.xtext.java"/>
        <setEntry value="org.eclipse.xtext.junit4"/>
        <setEntry value="org.eclipse.xtext.logging"/>
        <setEntry value="org.eclipse.xtext.m2e"/>
        <setEntry value="org.eclipse.xtext.purexbase"/>
        <setEntry value="org.eclipse.xtext.purexbase.ide"/>
        <setEntry value="org.eclipse.xtext.purexbase.ui"/>
        <setEntry value="org.eclipse.xtext.smap"/>
        <setEntry value="org.eclipse.xtext.testing"/>
        <setEntry value="org.eclipse.xtext.ui"/>
        <setEntry value="org.eclipse.xtext.ui.codemining"/>
        <setEntry value="org.eclipse.xtext.ui.codetemplates"/>
        <setEntry value="org.eclipse.xtext.ui.codetemplates.ide"/>
        <setEntry value="org.eclipse.xtext.ui.codetemplates.ui"/>
        <setEntry value="org.eclipse.xtext.ui.ecore"/>
        <setEntry value="org.eclipse.xtext.ui.shared"/>
        <setEntry value="org.eclipse.xtext.ui.testing"/>
        <setEntry value="org.eclipse.xtext.util"/>
        <setEntry value="org.eclipse.xtext.xbase"/>
        <setEntry value="org.eclipse.xtext.xbase.ide"/>
        <setEntry value="org.eclipse.xtext.xbase.junit"/>
        <setEntry value="org.eclipse.xtext.xbase.lib"/>
        <setEntry value="org.eclipse.xtext.xbase.testing"/>
        <setEntry value="org.eclipse.xtext.xbase.ui"/>
        <setEntry value="org.eclipse.xtext.xbase.ui.testing"/>
        <setEntry value="org.eclipse.xtext.xtext.generator"/>
        <setEntry value="org.eclipse.xtext.xtext.ide"/>
        <setEntry value="org.eclipse.xtext.xtext.ui"/>
        <setEntry value="org.eclipse.xtext.xtext.ui.examples"/>
        <setEntry value="org.eclipse.xtext.xtext.ui.graph"/>
        <setEntry value="org.eclipse.xtext.xtext.wizard"/>
        <setEntry value="org.emftext.language.java"/>
        <setEntry value="org.emftext.language.java.edit"/>
        <setEntry value="org.hamcrest.core"/>
        <setEntry value="org.junit"/>
        <setEntry value="org.junit.jupiter.api"/>
        <setEntry value="org.junit.jupiter.engine"/>
        <setEntry value="org.junit.jupiter.migrationsupport"/>
        <setEntry value="org.junit.jupiter.params"/>
        <setEntry value="org.junit.platform.commons"/>
        <setEntry value="org.junit.platform.engine"/>
        <setEntry value="org.junit.platform.launcher"/>
        <setEntry value="org.junit.platform.runner"/>
        <setEntry value="org.junit.platform.suite.api"/>
        <setEntry value="org.junit.vintage.engine"/>
        <setEntry value="org.modelversioning.emfprofile"/>
        <setEntry value="org.modelversioning.emfprofile.project"/>
        <setEntry value="org.modelversioning.emfprofile.registry"/>
        <setEntry value="org.objectweb.asm"/>
        <setEntry value="org.objectweb.asm.tree"/>
        <setEntry value="org.opentest4j"/>
        <setEntry value="org.palladiosimulator.branding"/>
        <setEntry value="org.palladiosimulator.commons"/>
        <setEntry value="org.palladiosimulator.commons.stoex"/>
        <setEntry value="org.palladiosimulator.commons.stoex.api"/>
        <setEntry value="org.palladiosimulator.mdsdprofiles.api"/>
        <setEntry value="org.palladiosimulator.pcm"/>
        <setEntry value="org.palladiosimulator.pcm.help"/>
        <setEntry value="org.palladiosimulator.pcm.resources"/>
        <setEntry value="org.palladiosimulator.pcm.ui"/>
        <setEntry value="org.sat4j.core"/>
        <setEntry value="org.sat4j.pb"/>
        <setEntry value="org.slf4j.api"/>
        <setEntry value="org.somox.analyzer.simplemodelanalyzer"/>
        <setEntry value="org.somox.analyzer.simplemodelanalyzer.ui"/>
        <setEntry value="org.somox.core"/>
        <setEntry value="org.somox.filter"/>
        <setEntry value="org.somox.gast2seff"/>
        <setEntry value="org.somox.kdmhelper"/>
        <setEntry value="org.somox.metrics"/>
        <setEntry value="org.somox.metrics.dsl"/>
        <setEntry value="org.somox.metricvaluesstorage"/>
        <setEntry value="org.somox.sourcecodedecorator"/>
        <setEntry value="org.somox.sourcecodedecorator.edit"/>
        <setEntry value="org.somox.sourcecodedecorator.editor"/>
        <setEntry value="org.somox.ui"/>
        <setEntry value="org.somox.util"/>
        <setEntry value="org.tukaani.xz"/>
        <setEntry value="org.w3c.css.sac"/>
        <setEntry value="org.w3c.dom.events"/>
        <setEntry value="org.w3c.dom.smil"/>
        <setEntry value="org.w3c.dom.svg"/>
        <setEntry value="tools.vitruv.applications.pcmjava.util"/>
        <setEntry value="tools.vitruv.applications.util.temporary"/>
        <setEntry value="tools.vitruv.domains.java"/>
        <setEntry value="tools.vitruv.domains.pcm"/>
        <setEntry value="tools.vitruv.domains.uml"/>
        <setEntry value="tools.vitruv.dsls.common"/>
        <setEntry value="tools.vitruv.dsls.common.ui"/>
        <setEntry value="tools.vitruv.dsls.reactions"/>
        <setEntry value="tools.vitruv.dsls.reactions.ide"/>
        <setEntry value="tools.vitruv.dsls.reactions.ui"/>
        <setEntry value="tools.vitruv.extensions.dslsruntime.reactions"/>
        <setEntry value="tools.vitruv.framework.applications"/>
        <setEntry value="tools.vitruv.framework.change"/>
        <setEntry value="tools.vitruv.framework.change.echange"/>
        <setEntry value="tools.vitruv.framework.change.interaction"/>
        <setEntry value="tools.vitruv.framework.correspondence"/>
        <setEntry value="tools.vitruv.framework.domains"/>
        <setEntry value="tools.vitruv.framework.propagation"/>
        <setEntry value="tools.vitruv.framework.userinteraction"/>
        <setEntry value="tools.vitruv.framework.util"/>
        <setEntry value="tools.vitruv.framework.vsum"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="cipm.consistency.base.shared@default:default"/>
        <setEntry value="cipm.consistency.commitintegration.diff.util@default:default"/>
        <setEntry value="cipm.consistency.commitintegration.settings@default:default"/>
        <setEntry value="cipm.consistency.domains.im@default:default"/>
        <setEntry value="cipm.consistency.domains.java@default:default"/>
        <setEntry value="cipm.consistency.domains.pcm@default:default"/>
        <setEntry value="cipm.consistency.models.instrumentation@default:default"/>
        <setEntry value="cipm.consistency.tools.evaluation.data@default:default"/>
        <setEntry value="org.splevo.commons@default:default"/>
        <setEntry value="org.splevo.diffing@default:default"/>
        <setEntry value="org.splevo.extraction@default:default"/>
        <setEntry value="org.splevo.jamopp.diffing@default:default"/>
        <setEntry value="org.splevo.jamopp.extraction@default:default"/>
        <setEntry value="org.splevo.jamopp.util@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="templateConfig" value="${target_home}\configuration\config.ini"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
