<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated initialiserModels -->
      <package
            uri="http://www.cipmfluentapi.com/pcm/cipm/consistency/fluentapi/pcm/api"
            class="cipm.consistency.fluentapi.pcm.api.ApiPackage"
            genModel="initModel/pcmInitModel/initialiserModels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated initialiserModels -->
      <package
            uri="http://www.cipmfluentapi.com/pcm/cipm/consistency/fluentapi/pcm/api/inits"
            class="cipm.consistency.fluentapi.pcm.api.inits.InitsPackage"
            genModel="initModel/pcmInitModel/initialiserModels.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated initialiserModels -->
      <package
            uri="http://www.cipmfluentapi.com/pcm/cipm/consistency/fluentapi/pcm/api/placeholderTypes"
            class="cipm.consistency.fluentapi.pcm.api.placeholderTypes.PlaceholderTypesPackage"
            genModel="initModel/pcmInitModel/initialiserModels.genmodel"/>
   </extension>
</plugin>
